
<div class="all">
    <div class="page">
        <h1>¡Créate un nuevo usuario!</h1>

        <div class="form" *ngIf="!submitted">
            <form class="register-form" [formGroup]="registerForm" (ngSubmit)="save($event)" novalidate>
                <input
                    type="text"
                    placeholder="nombre"
                    class="form-control"
                    id="name"
                    formControlName="name"
                    [(ngModel)]="user.name"
                    name="name"
                    required
                >
                <p class="limit">{{ nameField.value.length }}/15</p>
                <span *ngIf="nameField.errors && nameField.touched">Mínimo de 3 caracteres y máximo de 15; sin números*</span>

                <input
                    type="date"
                    formControlName="date"
                    id="date"
                    [(ngModel)]="user.date"
                    date="date"
                    required
                >
                <span>Indica tu fecha de nacimiento*</span>

                <button type="submit" [disabled]="registerForm.invalid" (click)="postUser()">Registrarse</button>
                <p class="message">¿Ya creaste uno? <a href="info">Entrar</a> </p>
            </form>
        </div>
        
        <div *ngIf="submitted">
            <h3>¡Usuario creado!</h3>
            <button class="created" type="button" (click)="navigateToInfo()">Acceder</button>
        </div>
    </div>
</div>
