<div class="all">
    <a href="profile" class="right">
        EDICIONES
    </a>
    <a href="info" class="left">
        INFO
    </a>

    <div class="searchId">
        <input
            type="number"
            placeholder="indica el id del usuario"
            formControlName="id"
            id="id"
            name="id"
            required
        >        
        <button type="button">Buscar</button>
        <!-- <p *ngIf="searchById() !== true; else showWithId">Ninguna búsqueda por id</p>

        <ng-template #showWithId>
          <tr *ngFor="let user of users">
            <td>{{user.name}}</td>
            <td>{{user.date}}</td>
            <td>{{user.id}}</td>
          </tr>
        </ng-template> -->
    </div>
    
    <div *ngIf="users === null; else showIt">
        <p class="errorMessage">Oh, oh... parece que ha habido un error</p>
    </div>
    <ng-template #showIt>
        <table class="chart">
            <tr>
                <th>nombre</th>
                <th>fecha de nacimiento</th>
                <th>id</th>
            </tr>

            <tr *ngFor="let user of users ; let mostrar = even" [ngClass]= "{'filasPar': mostrar}">
                <td>{{user.name}}</td>
                <td>{{user.date}}</td>
                <td>{{user.id}}</td>
            </tr>
        </table>
    </ng-template>
</div>
