<div class="all">
    <a href="profile" class="right">
        EDICIONES
    </a>
    <a href="info" class="left">
        INFO
    </a>

    <div class="searchId">
        <input
            type="number"
            placeholder="indica el id del usuario"
            formControlName="id"
            required
        >
        <!-- <button type="button" (click)="oneUser(users.id)">Buscar</button> -->
        <!-- <tr *ngFor="let i of users">
            <td>{{i.name}}</td>
            <td>{{i.date}}</td>
            <td>{{i.id}}</td>
        </tr> -->
        <!-- <div *ngFor="let i of users">
            <p>{{ i.id.name }}</p>
            <p>{{ i.id.date }}</p>
            <p>{{ i.id.id }}</p>
        </div> -->
    </div>
    
    <div *ngIf="users === null; else showIt">
        <p class="errorMessage">Oh, oh... parece que ha habido un error</p>
    </div>
    <ng-template #showIt>
        <table class="row chart">
            <tr>
                <th>nombre</th>
                <th>fecha de nacimiento</th>
                <th>id</th>
            </tr>

            <tr *ngFor="let i of users ; let mostrar = even" [ngClass]= "{'filasPar': mostrar}">
                <td>{{i.name}}</td>
                <td>{{i.date}}</td>
                <td>{{i.id}}</td>
            </tr>
        </table>
    </ng-template>
</div>
