<div class="all">
    <a href="profile" class="right">
        EDICIONES
    </a>
    <a href="info" class="left">
        INFO
    </a>

    <div class="profile-forms">
        <h3>Editar usuario</h3>
        <form [formGroup]="editForm" (ngSubmit)="save($event)" novalidate>
            <input
                type="number"
                placeholder="indica el id del usuario"
                formControlName="id"
                id="id"
                [(ngModel)]="user.id"
                name="id"
                required
            >
            <input
                type="text"
                placeholder="nombre"
                formControlName="name"
                id="name"
                [(ngModel)]="user.name"
                name="name"
                required                       
            >
            <p class="limit">{{ nameField.value.length }}/15</p>

            <input
                type="date"
                required
            >
            <span>Indica tu fecha de nacimiento*</span>

            <button type="submit" [disabled]="editForm.invalid">Confirmar cambios</button>
        </form>
    </div>


    <div class="profile-forms" >
        <h3>Eliminar usuario</h3>
        <div [formGroup]="deleteForm" (ngSubmit)="save($event)" novalidate>
            <input
                type="number"
                placeholder="indica el id del usuario"
                formControlName="id"
                id="id"
                [(ngModel)]="user.id"
                name="id"
                required
            >
        
            <button type="submit" [disabled]="deleteForm.invalid" (click)="deleteById(user.id)">Eliminar usuario</button>
        </div>
    </div>
</div>